@page
@model FacilitiesRequisition.Pages.Users.DeleteModel

@{
    ViewData["Title"] = "Delete user";
}
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="./css/site.css">
</head>
<body style="background: #EEEEEE">
    <div>
        <div class="row d-flex justify-content-md-center align-items-center vh-100">
            <div class="col-md-6 rounded-rectangle">
                <h2 class="mb-4">Delete user</h2>
                
                <div>
                    <dl class="row">
                        <dt class="col-sm-5">Type of user</dt>
                        <dd class="col-sm-10">@Model.User.Type</dd>
                        
                        <dt class="col-sm-5">Username</dt>
                        <dd class="col-sm-10">
                            <text>&#64;</text>@Model.User.Username
                        </dd>

                        <dt class="col-sm-5">Full Name</dt>
                        <dd class="col-sm-10">@Model.User.FirstName @Model.User.MiddleName @Model.User.LastName</dd>
                    </dl>
                </div>
                
                <form method="post" style="float: right">
                    <input type="hidden" asp-for="User.Id" />
                    <input type="submit" value="Go back" class="btn btn-outline-primary" asp-page-handler="BackToIndex"/>
                    <input type="submit" value="Delete user" class="btn btn-danger" />
                </form>
            </div>
        </div>
    </div>
</body>
</html>