@page
@using FacilitiesRequisition.Models.Officers
@using FacilitiesRequisition.Pages.Organizations
@model FacilitiesRequisition.Pages.OfficerRoles.IndexModel

@{
    ViewData["Title"] = "Officer Roles";
}

<html>
<head>
    <title></title>
    <link rel="stylesheet" href="./css/site.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body style="background: #d7d9e5; font-family: 'DM Sans', sans-serif">
    <div>
        <div class="row d-flex justify-content-md-center align-items-center vh-100">
            <div class="col-md-6 rounded-rectangle">
                <h2 style="font-weight: bold">Active user roles for @Model.Officer.FirstName</h2>
                @if (Model.OfficerRoles.Count == 0) {
                    <div align="center">
                        <text>There's no role assigned for @Model.Officer.FirstName. 
                            Please add role first.</text>
                    </div>
                } else {
                    <div class="user-container">
                        @foreach (var roleOrg in Model.OfficerRoles) {
                            <div class="hover-item">
                                 <div style="display: flex; align-items: center">
                                     <div class="profile-icon" style="margin-right: 10px; margin-left: 10px">
                                         <span>@roleOrg.Organization.Name.Substring(0, 1)</span>
                                     </div>
                                     
                                     <div style="font-size: medium; horiz-align: center">
                                         @roleOrg.Organization.Name
                                         <div style="font-size: small">
                                             @roleOrg.Position.GetDisplayName()
                                         </div>
                                     </div>
                                     
                                     <div style="margin-left: auto; margin-right: 10px; justify-content: end">
                                         <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteModal_@roleOrg.Id">
                                             <i class="bi bi-trash-fill"></i>
                                             Delete
                                         </button>
                                     </div>
                                 </div>
                            </div>

                            <div class="modal fade" id="deleteModal_@roleOrg.Id" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel_@roleOrg.Id" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteModalLabel_@roleOrg.Id">Delete Role</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Are you sure you want to delete this role "@roleOrg.Position" for the selected user? This cannot be undone.</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                            <form method="post" asp-page-handler="DeleteRole" asp-route-id="@roleOrg.Id">
                                                <button type="submit" class="btn btn-danger">Delete role</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    
                }
                <form method="post">
                    <div class="form-group mt-4 mb-2">
                        <div class="col-md-auto" style="float: right">
                            <input type="submit" value="Go back" class="btn btn-outline-primary" asp-page-handler="BackToUserIndex" />
                            <a class="btn btn-primary" asp-page="CreateOfficerRole" asp-route-id="@Model.Officer.Id">Add new role</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>    
    </div>
</body>
</html>

