@page
@model FacilitiesRequisition.Pages.Organizations.DeleteModel

@{
    ViewData["Title"] = "Delete Organization";
}

<html>
<head>
    <title></title>
    <link rel="stylesheet" href="./css/site.css">
</head>
<body style="background: #EEEEEE">
    <div>
        <div class="row d-flex justify-content-md-center align-items-center vh-100">
            <div class="col-md-6 rounded-rectangle">
                <h2 class="mb-4">@Model.PageTitle</h2>

                <div>
                    <dl class="row">
                        <dt class="col-sm-5">
                            @Html.DisplayNameFor(model => model.Organization.Name)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Organization.Name)
                        </dd>
                        <dt class="col-sm-10">
                            @Html.DisplayNameFor(model => model.Organization.IsStudentCouncil)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Organization.IsStudentCouncil)
                        </dd>
                        <dt class="col-sm-5">
                            @Html.DisplayNameFor(model => model.Organization.OrganizationBudget)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Organization.OrganizationBudget)
                        </dd>
                    </dl>
                </div>
                
                <form method="post" style="float: right">
                    <input type="hidden" asp-for="Organization.Id" />
                    <input type="submit" value="Go back" class="btn btn-outline-primary" asp-page-handler="BackToIndex"/>
                    <input type="submit" value="Delete organization" class="btn btn-danger" />
                </form>
            </div>
        </div>
    </div>
</body>
</html>