@page
@model FacilitiesRequisition.Pages.Shared._NavigationBarModel

@{
  ViewData["Title"] = "Dashboard";
  Layout = "Shared/_NavigationBar";
}

<!DOCTYPE html>

<html>
<head>
  <title></title>
</head>
<body style="background: #EEEEEE">
<div class="container-fluid">
  <div class="row d-flex justify-content-md-center align-items-center vh-100">
    <div class="col-md-12 rounded-rectangle">
      <h2>Recent Facility Request</h2>
      <table class="table">
        <thead>
        <tr>
          <th>Date Filed</th>
          <th>Requester</th>
          <th>Activity</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Venue Requested</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.FacilityRequest.OrderBy(x => x.StartDateRequested).Take(3)) {
          <tr>
            <td><text>@item.DateFiled</text></td>
            <td><text>@item.Requester.Name</text></td>
            <td><text>@item.NameActivity</text></td>
            <td><text>@item.StartDateRequested.Value.ToShortDateString()</text></td>
            <td><text>@item.EndDateRequested.Value.ToShortDateString()</text></td>
            <td><text>@item.VenueRequested</text></td>
          </tr>
        }
        </tbody>
      </table>
    </div>
    
    <div class="col-md-8 rounded-rectangle">
      <h2>Organizations</h2>
          
      <table class="table">
        <thead>
        <tr>
          <th>Organization Name</th>
          <th>Adviser</th>
          <th>President</th>
          <th>Budget Left</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Organizations) {
          <tr>
            <td><text>@item.Name</text></td>
            <td><text>@item.Adviser.FirstName @item.Adviser.LastName</text></td>
            <td><text>presidentName</text></td>
            <td><text>@item.TotalBudget.ToString("c")</text></td>
          </tr>
        }
        </tbody>
      </table>
    </div>
  </div>
</div>

</body>
</html>