@page
@model FacilitiesRequisition.Pages.RequestFacility.IndexModel

@{
    ViewData["Title"] = "Index";
}

<html>
<head>
    <title></title>
    <link rel="stylesheet" href="./css/site.css">
</head>
<body style="background: #EEEEEE">
    <div>
        <div class="row d-flex justify-content-md-center align-items-center vh-100">
            <div class="col-md-10 rounded-rectangle">
                <h2>Manage facility request</h2>
                <br/>
                
                <div style="float: right">
                    <a class="btn btn-outline-primary" asp-page="../Dashboard/Index">Back to Dashboard</a>
                    <a class="btn btn-primary" asp-page="CreateRequest">Add facility request</a>
                </div>
                
                <table class="table">
                    <thead>
                    <tr>
                        <th>Requester</th>
                        <th>Activity</th>
                        <th>Venue Requested</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th></th>
                    </tr>
                    </thead>

                    <tbody>
                    @foreach (var request in Model.FacilityRequest.OrderBy(x => x.StartDateRequested)) {
                        <tr class="clickable-row" data-href="@Url.Page("./ViewDetails", new { id = request.Id})")>
                            <td><text>@request.Requester.Name</text></td>
                            <td><text>@request.NameActivity</text></td>
                            <td><text>@request.VenueRequested</text></td>
                            <td><text>@request.StartDateRequested.Value.ToShortDateString()</text></td>
                            <td><text>@request.EndDateRequested.Value.ToShortDateString()</text></td>
                            <td><a class="btn btn-outline-secondary"asp-page="./EditDetails" asp-route-id="@request.Id">
                                    <i class="bi bi-pencil-square"></i>
                                    Edit
                                </a>
                                <a class="btn btn-outline-danger" asp-page="./DeleteRequest" asp-route-id="@request.Id">
                                    <i class="bi bi-trash-fill"></i>
                                    Delete
                                </a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>    
    </div>
</body>
</html>