@page
@using FacilitiesRequisition.Pages.Organizations
@using FacilitiesRequisition.Models.FacilityRequests.PrintPapers
@model FacilitiesRequisition.Pages.RequestFacility.IndexModel

@{
    ViewData["Title"] = "Index";
    var sortedFacilityRequests = Model.FacilityRequest.OrderBy(fr => fr.StartDateRequested).ToList();
}

<html>
<head>
    <title></title>
    <link rel="stylesheet" href="./css/site.css">
    <link href='https://fonts.googleapis.com/css?family=DM Sans' rel='stylesheet'>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    
</head>

<body style="background: #d7d9e5; font-family: 'DM Sans', sans-serif">
<div>
    <div class="row d-flex justify-content-md-center align-items-center vh-100">
        @if (Model.UserInfo == "Super Administrator") {
            <div class="col-md-5 rounded-rectangle">
                <h2 style="font-weight: bold">Manage facility request</h2>
                <text>@Model.ForSuperAdmins</text>
            </div>
        } else {
            @if (Model.FacilityRequest.Count == 0) {
                <div class="col-md-7 rounded-rectangle">
                    <h2 style="font-weight: bold">Manage facility request</h2>
                    <br/>

                    <div align="center">
                        <text>There's no recent facility request. Please add first so it will be shown here.</text>
                    </div>

                    <div style="float: right; margin-bottom: 5px">
                        <br/>
                        <a class="btn btn-outline-primary" asp-page="../Dashboard/Index">Back to Dashboard</a>
                        @if (Model.UserInfo != "Administrator") {
                            if (Model.CanCreateRequests) {
                                if (Model.AreCollegeAdminsSet) {
                                    <a class="btn btn-outline-primary" asp-page="../AvailableFacility/Index">See available facilities</a>
                                    <a class="btn btn-primary" asp-page="CreateRequest">Add facility request</a>
                                }
                                else {
                                    <a class="btn btn-primary" asp-page="CreateRequest" onclick="$('#errorAdmins').modal('show');">Add facility request</a>
                                }
                            } else {
                                <a class="btn btn-outline-primary" asp-page="../AvailableFacility/Index">See available facilities</a>
                                <a class="btn btn-primary disabled" asp-page="CreateRequest">Add facility request</a>
                            }
                        }
                    </div>
                    
                    <div class="modal fade" id="errorAdmins" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" >Incomplete College Administrators</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            Your college administrators are not yet set. Ask your administrators to set them before you can make facility requests. Thank you!
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            } else {
                <div class="col-md-12 rounded-rectangle">
                    <h2 style="font-weight: bold">Manage facility request</h2>
                    <input class="form-control" type="text" id="search-request" placeholder="Search facility request"/>
                    <br/>

                    <div class="button-container">
                        <a class="btn btn-outline-primary" asp-page="../Dashboard/Index">Back to Dashboard</a>
                        @if (Model.UserInfo != "Administrator") {
                            <a class="btn btn-outline-primary" asp-page="../AvailableFacility/Index">See available facilities</a>
                            <a class="btn btn-primary" asp-page="CreateRequest">Add facility request</a>
                        }
                        <br/>
                    </div>
                    
                    <div class="user-container">
                        <div class="no-results-request" style="display: none; justify-content: center; align-items: center; text-align: center">
                            No results in this list of request.
                        </div>
                        @for (var index = 0; index < sortedFacilityRequests.Count; index++) {
                            var facilityRequest = sortedFacilityRequests[index];
                            var originalIndex = Model.FacilityRequest.IndexOf(facilityRequest);
                            var isApproved = Model.IsApproved[originalIndex];
                            var endDate = facilityRequest.EndDateRequested?.Date;
                            var today = DateTime.Today;
                            var isEndDatePassed = endDate.HasValue && today >= endDate;
                            var isPending = !isApproved && isEndDatePassed;
                            
                            <div class="hover-item">
                                <div style="display: flex; align-items: center">
                                    <div class="profile-icon" style="margin-right: 10px; margin-left: 10px">
                                        <span>@facilityRequest.NameActivity.Substring(0, 1)</span>
                                    </div>
                                                        
                                    <div style="font-size: 15px">
                                        <div class="request-details" style="font-size: large; horiz-align: center">
                                            @facilityRequest.NameActivity
                                            <div style="font-size: small">
                                                <div style="font-size: 15px">
                                                    @if (isPending) {
                                                        <text>Status: <span style="color: #C51E3A; font-weight: bold;">This request cannot proceed anymore. Please create a new request if you wish to continue.</span></text>
                                                    } else {
                                                        <text>Status: <span style="color: @(isApproved ? "green" : "#C51E3A"); font-weight: bold;">@(isApproved ? "Approved" : "Pending")</span></text>
                                                    }
                                                </div>
                                                <div>
                                                    @if (facilityRequest.StartDateRequested.Value.ToShortDateString() == facilityRequest.EndDateRequested.Value.ToShortDateString()) {
                                                        <text>Date requested: @facilityRequest.StartDateRequested.Value.ToShortDateString()</text>
                                                    }
                                                    else {
                                                        <text>Dates requested: @facilityRequest.StartDateRequested.Value.ToShortDateString() to @facilityRequest.EndDateRequested.Value.ToShortDateString()</text>
                                                    }

                                                </div>
                                                <div>
                                                    <text>Venue requested: @facilityRequest.VenueRequested.GetDisplayName()</text>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                                        
                                    <div style="margin-left: auto; margin-right: 10px; justify-content: end">
                                        @if (Model.UserInfo == "Administrator") {
                                            <a class="btn btn-outline-success" asp-page="./ViewDetails" asp-route-id="@facilityRequest.Id">
                                                <i class="bi bi-box-arrow-up-left"></i>
                                                See Details
                                            </a>
                                            <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteModal_@facilityRequest.Id">
                                                <i class="bi bi-trash-fill"></i>
                                                Delete Request
                                            </button>
                                            
                                            <div class="modal fade" id="deleteModal_@facilityRequest.Id" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel_@facilityRequest.Id" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="deleteModalLabel_@facilityRequest.Id">Delete Facility Request</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <text>Are you sure you want to delete the facility request "@facilityRequest.NameActivity" made by @facilityRequest.Requester.Name? This cannot be undone.</text>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                            <form method="post" asp-page-handler="DeleteRequest" asp-route-id="@facilityRequest.Id">
                                                                <button type="submit" class="btn btn-danger">Delete Request</button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        } else {
                                            <a class="btn btn-outline-success" asp-page="./ViewDetails" asp-route-id="@facilityRequest.Id">
                                                <i class="bi bi-box-arrow-up-left"></i>
                                                See Details
                                            </a>
                                            @* <a class="btn btn-outline-primary" asp-page="./EditDetails" asp-route-id="@facilityRequest.Id"> *@
                                            @*     <i class="bi bi-pencil-square"></i> *@
                                            @*     Edit Details *@
                                            @* </a> *@
                                            <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteModal_@facilityRequest.Id">
                                                <i class="bi bi-trash-fill"></i>
                                                Cancel Request
                                            </button>
                                            
                                            <div class="modal fade" id="deleteModal_@facilityRequest.Id" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel_@facilityRequest.Id" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="deleteModalLabel_@facilityRequest.Id">Cancel Facility Request</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>Are you sure you want to cancel the facility request "@facilityRequest.NameActivity"? This cannot be undone.</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                            <form method="post" asp-page-handler="DeleteRequest" asp-route-id="@facilityRequest.Id">
                                                                <button type="submit" class="btn btn-danger">Delete request</button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        }
    </div>
</div>
</body>
</html>