@page
@using FacilitiesRequisition.Models.FacilityRequests
@using Microsoft.AspNetCore.Mvc.RazorPages
@using FacilitiesRequisition.Pages.Organizations
@model FacilitiesRequisition.Pages.RequestFacility.DetailsModel

@{
    ViewData["Title"] = "Details";
}

@if (Model.Signatories.StudentAffairsDirector.Id < -1)
{
    
    RedirectToPage("/RequestFacility/Index", new { noAdviser = true });
}



<html>
<head>
    <title></title>
    <link rel="stylesheet" href="./css/site.css">
</head>
<body style="background: #d7d9e5; font-family: 'DM Sans', sans-serif">
    <div>
        <div class="row d-flex justify-content-md-center align-items-center vh-100">
            <div class="col-md-7">
                <div class="rounded-rectangle" style="margin-right: 10px; height: 750px">
                    <h2 style="font-weight: bold">View @Model.FacilityRequest.NameActivity details</h2>
                    
                    <div style="display: flex; flex-direction: column; align-items: flex-end; margin-bottom: 20px;">
                        <div style="margin-bottom: 10px;">
                            <a class="btn btn-outline-primary" asp-page="./Index">Go back</a>
                            <a class="btn btn-primary" asp-page="./EditDetails" asp-route-id="@Model.FacilityRequest?.Id">Edit details</a>
                            <a class="btn btn-success" asp-page="/PrintRequest/Index" asp-route-id="@Model.FacilityRequest?.Id">Print Request</a>
                        </div>
                    </div>
                    
                    <div class="show-request-container">
                        <div>
                            <br/>
                            <label>Date Filed</label>
                            <input asp-for="FacilityRequest.DateFiled" class="form-control" disabled/>
                        </div>
                    
                        <div>
                            <br/>
                            <label>Requester</label>
                            <input asp-for="FacilityRequest.Requester.Name" class="form-control" disabled/>
                        </div>
                    
                        <div>
                            <br/>
                            <label>Name of Activity</label>
                            <input asp-for="FacilityRequest.NameActivity" class="form-control" disabled/>
                        </div>
                    
                        <div>
                            <br/>
                            <label>Contact Number</label>
                            <input asp-for="FacilityRequest.ContactNumber" class="form-control" disabled/>
                        </div>
                    
                        <div>
                            <br/>
                            <label>Venue Requested</label>
                            <input asp-for="FacilityRequest.VenueRequested" class="form-control" disabled/>
                        </div>
                    
                        <div>
                            <br/>
                            <label>Start Date</label>
                            <input asp-for="FacilityRequest.StartDateRequested" class="form-control" disabled/>
                        </div>
                    
                        <div>
                            <br/>
                            <label>End Date</label>
                            <input asp-for="FacilityRequest.EndDateRequested" class="form-control" disabled/>
                        </div>
                    
                        <div>
                            <br/>
                            <label>Additional Comments</label>
                            <textarea asp-for="FacilityRequest.AdditionalComments" class="form-control" disabled></textarea>
                            <br/>
                        </div>
                    </div>

                    
                </div>
            </div>
            
            <div class="col-md-5">
                <div class="rounded-rectangle" style="margin-left: 10px; height: 750px">
                    <h2 style="font-weight: bold">Signatories</h2>
                    
                    <div>
                        @foreach (var signatory in Model.Signatories.ToList()) {
                            <div class="hover-item">
                                <div style="display: flex; align-items: center">
                                    <div class="profile-icon" style="margin-right: 10px; margin-left: 10px">
                                        <span>@signatory.User.FirstName.Substring(0, 1)</span>
                                    </div>
                                    
                                    <div style="font-size: medium; horiz-align: center">
                                        @signatory.User.FullName
                                        <div style="font-size: small">
                                            @if (signatory is AdministratorSignatory administratorSignatory) {
                                                @Html.DisplayFor(model => administratorSignatory.Role.Position)
                                            }
                                            @if (signatory is OfficerSignatory officerSignatory) {
                                                @Html.DisplayFor(model => officerSignatory.Role.Position)
                                            }
                                        </div>
                                    </div>
                                    
                                    <div style="margin-left: auto; margin-right: 10px; justify-content: end">
                                        <form method="post">
                                            @if (signatory.User == Model.User) {
                                                if (!signatory.IsSigned) {
                                                    <input type="submit" value="Sign" class="btn btn-secondary mb-2" asp-page-handler="Sign" 
                                                           asp-route-facilityRequestId="@Model.FacilityRequest.Id"
                                                           asp-route-signatoryId="@signatory.Id"
                                                           asp-route-isAdmin="@(signatory is AdministratorSignatory)"/>
                                                }
                                                else {
                                                    <input type="submit" value="Unsign" class="btn btn-secondary mb-2" asp-page-handler="Unsign" 
                                                           asp-route-facilityRequestId="@Model.FacilityRequest.Id"
                                                           asp-route-signatoryId="@signatory.Id"
                                                           asp-route-isAdmin="@(signatory is AdministratorSignatory)"/>
                                                }
                                            } else {
                                                if (signatory.IsSigned) {
                                                    @: <text>Signed</text>
                                                } else {
                                                    @: <text>Unsigned</text>
                                                }
                                            }
                                        </form>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>    
    </div>
</body>
</html>